@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Altone-Bold";
  font-display: swap;
  src: url("./fonts/Altone-Bold.ttf");
}

@font-face {
  font-family: "Altone-ExtraBold";
  font-display: swap;
  src: url("./fonts/Altone-ExtraBold.ttf");
}

@font-face {
  font-family: "Altone-Regular";
  font-display: swap;
  src: url("./fonts/Altone-Regular.ttf");
}

@font-face {
  font-family: "Altone-SemiBold";
  font-display: swap;
  src: url("./fonts/Altone-SemiBold.ttf");
}

@font-face {
  font-family: "CoffeeExtra";
  font-display: swap;
  src: url("./fonts/CoffeeExtra.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
